@import "tailwindcss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Heebo", sans-serif;
  background-color: #fafafa;
  color: #0f172a;
  overflow-x: hidden;
  direction: rtl;
}
